.role{
    flex: 4;
}

.roleEdit{
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    background-color: #3bb;
    color: white;
    margin-right: 20px;
}

.roleDelete{
    color: red;
}